@charset "utf-8";
/* CSS Document */


/*头部*/
.header{
	border-top:5px solid #09238B;
}
.a1{  
	font-size: 12px;
	color:#FFFFFF;
	font-family: "微软雅黑";
	float:right;
	height:27px;
	width:137px;
	border-radius: 4px;
	text-align: center;
	line-height: 27px;
	margin-top: -2px;
    background-color: #09238B;
}
.tu1{
	float:left;
}
.head_bottom{
	border-top: 1px solid #CCCCCC;

}
.a3{
	display: block;
	line-height: 39px;
	font-size: 12px;
	color:#272727;
	font-family: "微软雅黑";
	float:left;
}
.ul1{
	float:right;
	padding-top: 20px;
	margin-bottom: 10px;
}
.li1{
	font-size: 14px;
	color:#333333;
	font-family: "微软雅黑";
	display: inline-block;
    margin-right: 26px;
    font-weight: bold;
}
.li1:hover{
	color:#10298E;
}	
/*内容*/
.nav{
	background: url(../img/jianbian2.png) repeat-x;
    height:1114px;
}
.nav_left{
	margin-right: 32px;
	float:left;
}
.h31{
	font-size: 24px;
	color:#0F298D;
	font-family: "微软雅黑";
	font-weight: bold;
	padding-top: 45px;
}
.li2{
	width:200px;
	border-bottom:1px solid #DDDDDD;
	font-size: 14px;
	color:#000000;
	font-family: "微软雅黑";
	padding-bottom: 8px;
	margin-top: 18px;

}	
.li2:hover{
	font-weight: bold;
}
.nav_right{
	float: left;
}
h4{
	font-size: 20px;
	color:#000000;
	font-family: "微软雅黑";
	margin-top: 69px;
	border-bottom:1px solid #DDDDDD;
	padding-bottom: 8px;
	width:768px;
}
.tu2{
	margin-top: 16px;
}
.li4{
	width:768px;
	font-size: 12px;
	color:#272727;
	font-family: "微软雅黑";
	text-indent: 2em;
	list-style: none;
	line-height: 23px;
	padding-bottom: 18px;
	border-bottom: 1px dashed #DDDDDD;
}
.h32{
	font-size: 16px;
	color:#0F298D;
	font-family: "微软雅黑";
	font-weight: bold;
    margin-top: 22px;
}
.p3{
	font-size: 12px;
	color:#272727;
	font-family: "微软雅黑";
	text-indent: 2em;
	width:768px;
	margin-top: 12px;
}
.h33{
	font-size: 12px;
	color:#000000;
	font-family: "微软雅黑";
	margin-top: 33px;
}
.p5{
	font-size: 12px;
	color:#000000;
	font-family: "微软雅黑";
	line-height: 34px;
	text-indent: 2em;
}
.h34{
	font-size: 16px;
	color:#0F298D;
	font-family: "微软雅黑";
	border-top: 1px dashed #DDDDDD;
	padding-top: 19px;
}
.p6{
	font-size: 12px;
	color:#272727;
	line-height: 34px;
	text-indent: 2em;
	font-family: "微软雅黑";
	
}
/*底部*/
.footer{
	height:292px;
	border-top: 4px solid #09238B;
	background-color: #5F5F5F;
	
}
h6{
	float:left;
	margin-right: 94px;
	font-size: 12px;
	color:#FFFFFF;
	font-family: "微软雅黑";
	margin-top: 17px;
	line-height: 42px;
}
.box8{
	border-top: 1px solid #888888;
	margin-top: 59px;
}
.ul5{
	margin-top: 17px;
	margin-right: 90px;
	float:left;
}
.li3{
	font-size: 12px;
	color:#CBCBCB;
	font-family: "微软雅黑";
	line-height: 31px;
}
.tu11{
	float: right;
	margin-top: 20px;
	margin-left: 25px;
}
.p4{
	font-size: 12px;
	color:#CBCBCB;
	font-family: "微软雅黑";
}
em{
	font-style: normal;
	margin-left: 300px;
}