@charset "utf-8";
/* CSS Document */


/*头部*/
.header{
	height:95px;
	height:147px;
	border-top:6px solid #CF0000;
}
.tu1{
	margin-top: 24px;
}
.ul1{
	height:42px;
	width:452px;
	margin-top: 5px;
	padding-left: 18px;
	margin-left: 58px;
	border-left: 2px solid #DEDEDE;
}
h3{
     
    float:left;
	font-size: 13px;
	color:#2E2E2E;
	line-height: 17px;
	font-family: "微软雅黑";
}
.h31{
	margin-right: 21px;
}
.h33{
	margin-right: 86px;
}
.p1{
	float:right;
	margin-top: -79px;
	font-size: 12px;
	color:#858585;
	font-family: "微软雅黑";
}
.p2{
	float:right;
	margin-top: -46px;
	font-size: 18px;
	color:#858585;
	font-family: "微软雅黑";
}
.nav{
	height:63px;
	background-color: #F4F4F4;
}
.danghang li{
	list-style: none;
	margin-right: 46px;
	line-height: 63px;
	font-size: 18px;
	color:#131313;
	font-family: "微软雅黑";
	float:left;
}
.danghang li:hover{
	color:#D11F2D;
	border-bottom:1px solid #D11F2D;
}
/*导航*/
.bananer{
	height:435px;
}
/*内容*/
.background{
	background-color:#EFF0F0;
	height:537px;
}
.box1{
	padding-top: 31px;
	position: relative;
}
h4{
	height:38px;
	font-family: "微软雅黑";
	font-size: 36px;
	line-height: 38px;
	color:#000000;
	padding-left: 19px;
	border-left: 7px solid #EA5413;
}
.span1{
	font-family: "微软雅黑";
	font-size: 24px;
	margin-left: 10px;
	color:#6B6B6B;
}
.ul2{
	margin-top: 32px;
}
.ul2 li{
	position: relative;
	line-height:37px;
	z-index: 100;
}
.ul2 h5{
	width:247px;
	height:37px;
	color:#fff;
	font-family: "宋体";
	font-size: 20px;
	padding-left: 34px;
	line-height: 37px;
	margin-bottom: 19px;
	border-radius: 14px;
	background-color:#6B6B6B;
}
.ul2 span{
	display: inline-block;
	background-color:#FF0000;
	height:43px;
	color:#fff;
	text-align: center;
	line-height: 43px;
	border-radius: 50%;
	width:43px;
	position: absolute;
	left:-12px;top:-3px;
}
.ul3{
	display:none;
	height: 123px;
	width:890px;
	border: 1px solid grey;
	background-color: #fff;
	color: #000000;
    padding:23px 28px; 
}
.p3{
	line-height: 24px;
	text-indent: 2em;
	font-family: "宋体";
	color: #000000;
	font-size: 14px;
}
.box1 .ul2 li:hover .ul3{
		display: block;
}
.tu3{
	margin-left: 154px;
	position: absolute;
	right:0px;top:102px;
	z-index: 2;
}
.background1{
	background: url(../img/beijing1.png) no-repeat;
	height:510px;
}
.box2{
	padding-top: 31px;
	position: relative;
}
.box2 ul{
	margin-top: 42px;
	height:348px;
	width:827px;
	background-color:#000; 
	position: relative;
}
.tu4{
	position: absolute;
	left:95px;top:61px;
}
.tu5{
	position: absolute;
	left:318px;top:61px;
}
.tu6{
	position: absolute;
	left:542px;top:61px;
}
.tu7{
	position: absolute;
	left:95px;top:141px;
}
.tu8{
	position: absolute;
	left:320px;top:141px;
}
.ul4 li{
    display: none;
	height:140px;
	width:359px;
    background: url(../img/tankuang.png) no-repeat;
}
h2{
	font-family: "宋体";
	color: #668EB1;
	font-size: 16px;
}
.ul4 li p{
	font-family: "宋体";
	color: #616161;
	line-height: 19px;
	font-size: 14px;
} 
.box2 .tu4:active li{
	display: block; 
	position: absolute;
	left:171px;top:141px;
}
.background2{
	background: url(../img/beijing2.png) no-repeat;
	height:499px;
}
.box3{
	padding-top: 31px;
	position: relative;
}
.ul5{
	width:278px;
	margin-left: 117px;
	margin-top: 59px;
}
.ul5 img{
	margin-bottom: 38px;
}
.ul5 img:hover{
	border-width: 16px 14px 19px 14px;
	border-style: solid;
	border-color:  #939191;
}
.box3 li{
	list-style: none;
	position: absolute;
	top:81px;right:0;
	height:381px;
	width:455px;
	background-color: #CCC7C7;
}
.tu12{
	float:left;
	margin-left: 31px;
	margin-top: 30px;
}
.p4{
	width:137px;
	float: left;
	font-family: "宋体";
	color: #000;
	font-size: 14px;
	margin-left: 17px;
	margin-top: 30px;
    line-height: 24px;
}
.p5{
	font-family: "宋体";
	color: #000;
	font-size: 14px;
	margin-left: 33px;
	text-indent: 2em;
	width:393px;
	height:40px;
}
.background3{
	height:492px;
	background: url(../img/beijing3.png) no-repeat;
}
.box4{
	padding-top: 31px;
	
}
.ul6_li1{
     width:188px;
     height:48px;
     margin-top: 10px;
     padding-top: 7px;
     background-color: #20939C;
     border-radius: 6px;
}
.box4 li p{
	font-family: "宋体";
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
}
.box4 h3{
	display: none;
	z-index: 100;
    width:318px;
    height:286px;
    background-color: #DCDCDC;
} 
.box4 h3 span{
	display: inline-block;
	width:285px;
    height:210px;
    margin:25px 16px 50px 16px; 
    line-height: 24px;

}
.box4 .h31{
  position: absolute;
	top:54px;left:203px;
}
.box4 .h32{
  position: absolute;
	top:54px;left:425px;
}
.box4 .h33{
  position: absolute;
	top:54px;left:645px;
}
.box4 .h34{
  position: absolute;
	top:54px;left:870px;
}
.ul6{
	position: relative;
}
.ul6_li{
	height:257px;
    float:left;
    margin-top: 53px;
    margin-right: 32px;
    z-index: 5;
}
.box4 .ul6:hover h3{
	display:block;
}

.background4{
	height:538px;
	background: url(../img/beijing4.png) no-repeat;
}
.box5{
	padding-top: 31px;	
}
.ul8{
	margin-top: 47px;
}
.tu14{
	float:left;
}
.box5 h2{
	float:left;
	font-size: 18px;
	color:#fff;
	margin-left: 39px;
}
.box5 li{
	float:left;
	width:699px;
	margin-top: 24px;
	margin-left: 39px;
}
.box5 li p{
	font-family: "宋体";
	color: #fff;
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
}
.background5{
	height:879px;
	background-color: #D9E0E5;
}
.box6{
	padding-top: 25px;
}
.box6 h2{
	font-family: "宋体";
	color:#000D0E;
	font-size: 32px;
	padding-left: 15px;
	border-left: 3px solid #EA5413;
}
.box_top {
	position: relative;
	height:396px;
}
.box_top .li1{
	width:126px;
	margin-top: 18px;
}
.box_top a{
	margin-bottom: 50px;
	display: inline-block;
    font-family: "宋体";
	color:#2A2A2A;
	font-size: 14px;
	width: 126px;
	height:34px;
	background-color: #fff;
	text-align: center;
	line-height: 34px;
}
.box_top .li2{
	position: absolute;
	left:159px;top:55px;
	height:58px;
	width:263px;
	font-size: 14px;
	line-height: 25px;
	background: url(../img/tupian3.png) 22px center no-repeat #fff;
	padding-left: 90px;
	padding-top: 19px;
	border-radius: 7px;
}
.box_top .li3{
	position: absolute;
	left:535px;top:55px;
	height:58px;
	width:263px;
	font-size: 14px;
	line-height: 25px;
	background: url(../img/tupian4.png) 22px center no-repeat #fff;
	padding-left: 90px;
	padding-top: 19px;
	border-radius: 7px;
}
.box_top .li4{
	position: absolute;
	left:159px;top:140px;
	}
.box_top .li5{
	position: absolute;
	left:294px;top:140px;
	}
.box_top .li6{
	height:127px;
	width:475px;
	background: url(../img/tankuang2.png) no-repeat;
	position: absolute;
	left:155px;top:224px;
	padding-left: 54px;
	padding-top: 20px;
	}
.box_top .tu16{
    float:left;
}
.tu17{
    float:right;
     width:356px;
}
.tu18{
    float:right;
     width:356px;
     margin-top: -133px;
}
.footer{
	height:93px;
	background-color: #000;
}
.foot p{
	line-height: 33px;
	text-align: center;
	color: #fff;
}